header {
  padding: 0rem 2rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;

  .header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
