* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  padding: 5rem;
}

:root {
  --primary-color: #51b4fbff;
  --secondary-color: #000000ff;
  --tertiary-color: #ffffffff;
  --quaternary-color: #00000000;
  --quinary-color: #00000000;
  --senary-color: #00000000;
  --septenary-color: #00000000;
  --octonary-color: #00000000;
  --nonary-color: #00000000;
  --denary-color: #00000000;
}
